@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&family=La+Belle+Aurore&display=swap');

$logo-font: 'La Belle Aurore', cursive;
$main-font: 'Josefin Sans', sans-serif;
$font-color: #3b3b3b;
$background-color: linear-gradient(181deg, rgb(250, 187, 198) 0.00%, rgb(245, 245, 245) 99.44%);
$main-pink: rgb(250, 187, 198) 0.00%;
$bRadius: 0.25rem;

%button{
    border: 0.35rem solid white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: $font-color;
    transition: all 0.25s;

    &:hover, &:active{
        border-color: #000;
        border-radius: $bRadius;
    }
}

%footer-button{
    border-bottom: 0.35rem solid rgb(250, 187, 198);
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: $font-color;
    transition: all 0.25s;
    font-size: 1.2rem;
    margin-bottom: 1rem;

    &:hover, &:active{
        border-color: #000;
        border-radius: $bRadius;
    }
}