@import "./src/sass/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


:root {
  font-family: $main-font;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;

  overflow: hidden;
  
  color: $font-color;
  background-image: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: "a" 7% "b" 90% "c" 3% / 100%;
  overflow-y: auto;
}